    <section class="container container--is-banner container--is-small" style="background: linear-gradient( rgba(25, 25, 25, 0.25), rgba(25, 25, 25, 1)), url('/assets/img/artwork__polygon--clean@2x.png') center center no-repeat;background-size:cover;">
        <div class="container__inner container__inner--is-banner container__inner--has-mc">
            <div class="container__wrapper container__wrapper--has-mc">
                <h3 class="container__title container__title--has-margin container__title--is-light">Stay In The Loop</h3>
                <div class="container__item container__item--has-mc">
                    <form class="container__item--has-mc" action="//makersphere.us10.list-manage.com/subscribe/post?u=bfc591998979ecefea9f4c470&amp;id=899a854436" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                        <input type="email" value="" name="EMAIL" placeholder="Enter your email &amp; learn more." class="container__item-mc-input" id="mce-EMAIL">
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_bfc591998979ecefea9f4c470_899a854436" tabindex="-1" value="">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer__inner">
            <div class="footer__content footer__content--is-split">
                <span class="footer__copyright">&copy; {{ site.time | date: '%Y' }} Makersphere HQ - Made with <span style="font-family:sans-serif;color:rgba(240, 70, 109, 0.8);">&hearts;</span> in Zurich</span>
                <a class="footer__status" href="https://status.makersphere.org" alt="Platform Status" target="_blank">
                    <span class="footer__status-dot" id="footer__status-dot">&#11044;</span>
                    <span class="footer__status-desc" id="footer__status-desc">Loading Status...</span>
                </a>
            </div>
            <div class="footer__content footer__content--is-split">
                <span class="footer__social">
                    <a href="{{ site.twitter_url }}" alt="Twitter" target="_blank"><svg class="footer__icon">
                        <title>Twitter</title>
                        <use xlink:href="#twitter"></use>
                    </svg></a>
                    <a href="{{ site.facebook_url }}" alt="Facebook" target="_blank"><svg class="footer__icon">
                        <title>Facebook</title>
                        <use xlink:href="#facebook"></use>
                    </svg></a>
                    <a href="{{ site.instagram_url }}" alt="Instagram" target="_blank"><svg class="footer__icon">
                        <title>Instagram</title>
                        <use xlink:href="#instagram"></use>
                    </svg></a>
                    <a href="{{ site.snapchat_url }}" alt="Snapchat" target="_blank"><svg class="footer__icon">
                        <title>Snapchat</title>
                        <use xlink:href="#snapchat"></use>
                    </svg></a>
                    <a href="{{ site.github_url }}" alt="GitHub" target="_blank"><svg class="footer__icon">
                        <title>GitHub</title>
                        <use xlink:href="#github"></use>
                    </svg></a>
                    <a href="{{ site.livestream_url }}" alt="Livestream" target="_blank"><svg class="footer__icon">
                        <title>Livestream</title>
                        <use xlink:href="#livestream"></use>
                    </svg></a>
                    <a href="{{ site.medium_url }}" alt="Medium" target="_blank"><svg class="footer__icon">
                        <title>Medium</title>
                        <use xlink:href="#medium"></use>
                    </svg></a>
                </span>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/10.0.0/js/smooth-scroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/headroom.min.js"></script>
    <script src="https://cdn.statuspage.io/se-v2.js"></script>
    <script src="/assets/js/main.js"></script>
    </body>
</html>
