// Colors
$color__green: rgba(30, 214, 150, 1);
$color__green--hover: rgba(26, 189, 132, 1);
$color__green--active: rgba(23, 163, 114, 1);

$color__blue: rgba(29, 176, 224, 1);
$color__blue--hover: rgba(26, 154, 196, 1);
$color__blue--active: rgba(22, 132, 168, 1);

$color__red: rgba(240, 70, 109, 1);
$color__red--hover: rgba(214, 62, 98, 1);
$color__red--active: rgba(189, 55, 86, 1);

$color__white: rgba(255, 255, 255, 1);

$color__black: rgba(25, 25, 25, 0.6);
$color__black--hover: rgba(25, 25, 25, 0.8);
$color__black--active: rgba(25, 25, 25, 1);

$color__transparent: rgba(255, 255, 255, 0.6);
$color__transparent--hover: rgba(255, 255, 255, 0.8);
$color__transparent--active: rgba(255, 255, 255, 1);

// Fonts
$base__font-family: Open Sans;
$base__font-family--heading: Source Sans Pro;
